services:
  socket-proxy:
    image: 11notes/socket-proxy:2.1.6@sha256:2f4e605a5441b31389a95ef942af45927e8df4df4e974cfa271a388799d4f87b
    container_name: docker-socket-proxy
    restart: "unless-stopped"
    read_only: true
    user: "0:${DOCKER_GID:?Missing variable DOCKER_GID}" # root:docker
    environment:
      - TZ=${TZ:-Etc/UTC}
    volumes:
      - "/run/docker.sock:/run/docker.sock:ro" 
      - "socket-proxy.run:/run/proxy"
    ports:
      - "${PORT:-2375}:2375"

volumes:
  socket-proxy.run: