services:
  tubearchivist:
    image: bbilly1/tubearchivist:v0.5.8@sha256:83ccd1e372a654654e8cb3c0278256b6889653a4cf239c052bb532401c79daeb
    container_name: tubearchivist
    restart: unless-stopped
    ports:
      - ${WEB_PORT:-8000}:8000
    volumes:
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/youtube:/youtube
      - ${DIRECTORY:?Missing variable DIRECTORY}/tube-archivist/cache:/cache
    environment:
      - ES_URL=http://archivist-es:9200         # needs protocol e.g. http and port
      - REDIS_CON=redis://archivist-redis:6379
      - HOST_UID=1000
      - HOST_GID=1000
      - TA_HOST=${TA_HOST:-http://localhost}                                      # set your host name
      - TA_USERNAME=${TA_USERNAME?:Missing variable TA_USERNAME}                  # your initial TA credentials
      - TA_PASSWORD=${TA_PASSWORD?:Missing variable TA_PASSWORD}                  # your initial TA credentials
      - ELASTIC_PASSWORD=${ES_PASSWORD:?Missing variable ES_PASSWORD}             # set password for Elasticsearch
      - TZ=${TZ:-UTC}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s
    depends_on:
      - archivist-es
      - archivist-redis
    labels:
      - traefik.enable=true
      - traefik.http.routers.tubearchivist.tls.certresolver=myresolver
      - traefik.http.services.tubearchivist.loadbalancer.server.port=8000
      - homepage.group=Download
      - homepage.name=TubeArchivist
      - homepage.icon=tube-archivist.png
      - homepage.instance.public.href=https://tubearchivist.${DOMAIN:?Missing variable DOMAIN}
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${WEB_PORT:-8000}
      - homepage.description=Your self hosted YouTube media server
      - homepage.instance.internal.widget.type=tubearchivist
      - homepage.instance.internal.widget.url=${HOST_URL:-http://localhost}:${WEB_PORT:-8000}
      - homepage.instance.internal.widget.key=${TA_TOKEN}

  archivist-redis:
    image: redis/redis-stack-server:latest@sha256:798ab84d9f266936b034ab11c4d04a2b8e4b441884c5aa7d17ac951eefdf742a
    container_name: archivist-redis
    restart: unless-stopped
    expose:
      - "6379"
    volumes:
      - ${DIRECTORY:?Missing variable DIRECTORY}/tube-archivist/redis:/data
    depends_on:
      - archivist-es

  archivist-es:
    image: bbilly1/tubearchivist-es:latest@sha256:58007d1cf7a3b9f3ae4a8e0d2798b05d9c7dd768877b1fe908fd4142da4c68b6         # only for amd64, or use official es 8.11.0
    container_name: archivist-es
    restart: unless-stopped
    environment:
      - "ELASTIC_PASSWORD=${ES_PASSWORD:?Missing variable ES_PASSWORD}"       # matching Elasticsearch password
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "xpack.security.enabled=true"
      - "discovery.type=single-node"
      - "path.repo=/usr/share/elasticsearch/data/snapshot"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ${DIRECTORY:?Missing variable DIRECTORY}/tube-archivist/es:/usr/share/elasticsearch/data    # check for permission error when using bind mount, see readme
    expose:
      - "9200"

  # For integration with Jellyfin, see
  # https://github.com/tubearchivist/tubearchivist-jf-plugin?tab=readme-ov-file#installation 
  # https://github.com/tubearchivist/tubearchivist-jf-plugin?tab=readme-ov-file#configuration
