networks:
  media:
    name: media
    driver: bridge

services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.6@sha256:333b647716631443a43c7fabac4b0c46b4e2f036bad19547e00958f10f721b85
    container_name: jellyfin
    restart: unless-stopped
    networks:
      - media
    ports:
      - ${JELLYFIN_WEB_PORT:-8096}:8096
      - 7359:7359/udp
      - 8920:8920
      - 1900:1900/udp
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
    environment:
      # - JELLYFIN_PublishedServerUrl=${HOST_URL:-http://localhost} # Optional - alternative address used for autodiscovery
      ### COMMON
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - UMASK=${UMASK:-0002}
      - TZ=${TIMEZONE:-UTC}
    volumes:
      - ${MEDIA_DIRECTORY:?Missing variable MEDIA_DIRECTORY}/jellyfin/config:/config
      - ${MEDIA_DIRECTORY:?Missing variable MEDIA_DIRECTORY}/jellyfin/cache:/cache
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/movies:/movies
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/videos:/videos
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/youtube:/youtube:ro
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/series:/series
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/music:/music
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.tls.certresolver=myresolver
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
      - homepage.group=Media
      - homepage.name=Jellyfin
      - homepage.icon=jellyfin.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${JELLYFIN_WEB_PORT:-8096}
      - homepage.instance.public.href=https://jellyfin.${DOMAIN:?Missing variable DOMAIN}
      - homepage.description=The Free Software Media System
      - homepage.widget.type=jellyfin
      - homepage.widget.url=${HOST_URL:-http://localhost}:${JELLYFIN_WEB_PORT:-8096}
      - homepage.widget.key=${JELLYFIN_API_KEY}
      - homepage.widget.enableBlocks=true      # optional, defaults to false
      - homepage.widget.enableNowPlaying=true  # optional, defaults to true

  seerr:
    image: ghcr.io/seerr-team/seerr:v3.0.1@sha256:1b5fc1ea825631d9d165364472663b817a4c58ef6aa1013f58d82c1570d7c866
    container_name: seerr
    restart: unless-stopped
    networks:
      - media
    ports:
      - ${SEERR_WEB_PORT:-5055}:5055
    environment:
      - LOG_LEVEL=debug
      ### COMMON
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - UMASK=${UMASK:-0002}
      - TZ=${TIMEZONE:-UTC}
    volumes:
      - ${MEDIA_DIRECTORY:?Missing variable MEDIA_DIRECTORY}/seerr/config:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    labels:
      - traefik.enable=true
      - traefik.http.routers.seerr.tls.certresolver=myresolver
      - traefik.http.services.seerr.loadbalancer.server.port=5055
      - homepage.group=Media
      - homepage.name=Seerr
      - homepage.icon=jellyseerr.png # Seerr icon not yet available
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${SEERR_WEB_PORT:-5055}
      - homepage.instance.public.href=https://seerr.${DOMAIN:?Missing variable DOMAIN}
      - homepage.description=Open-source media request and discovery manager
      - homepage.widget.type=jellyseerr # Seerr widget not yet available
      - homepage.widget.url=${HOST_URL:-http://localhost}:${SEERR_WEB_PORT:-5055}
      - homepage.widget.key=${SEERR_API_KEY}

  qbittorrent:
    container_name: gluetun
    image: lscr.io/linuxserver/qbittorrent:5.1.4@sha256:a68c4cfb7b07c39cf3f13e7f1d23d333c1e4a60304d37bc1eec7af3eacfe12d5
    restart: unless-stopped
    networks:
      - media
    ports:
      - ${QBITTORRENT_WEB_PORT:-3000}:${QBITTORRENT_WEB_PORT:-3000} # MAPPING MUST BE X:X
      - ${QBITTORRENT_TCP_PORT:-6881}:6881/tcp
      - ${QBITTORRENT_UDP_PORT:-6881}:6881/udp
    environment:
      - WEBUI_PORT=${QBITTORRENT_WEB_PORT:-3000}
      - DOCKER_MODS=ghcr.io/themepark-dev/theme.park:qbittorrent
      - TP_THEME=${TP_THEME:-nord}
      ### COMMON
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - UMASK=${UMASK:-0002}
      - TZ=${TIMEZONE:-UTC}
    volumes:
      - ${MEDIA_DIRECTORY:?Missing variable MEDIA_DIRECTORY}/qbittorrent/config:/config
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/downloads:/downloads
    labels:
      - traefik.enable=true
      - traefik.http.routers.qbittorrent.tls.certresolver=myresolver
      - traefik.http.services.qbittorrent.loadbalancer.server.port=${QBITTORRENT_WEB_PORT:-3000}
      - homepage.group=Download
      - homepage.name=Qbittorrent
      - homepage.icon=qbittorrent.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${QBITTORRENT_WEB_PORT:-3000}
      - homepage.instance.public.href=https://qbittorrent.${DOMAIN:?Missing variable DOMAIN}
      - homepage.description=Free and reliable P2P Bitorrent client
      - homepage.widget.type=qbittorrent
      - homepage.widget.url=${HOST_URL:-http://localhost}:${QBITTORRENT_WEB_PORT:-3000}
      - homepage.widget.username=${QBITTORRENT_USERNAME:?Missing variable QBITTORRENT_USERNAME}
      - homepage.widget.password=${QBITTORRENT_PASSWORD:?Missing variable QBITTORRENT_PASSWORD}
    healthcheck: # https://github.com/qdm12/gluetun/issues/641#issuecomment-933856220
      test: "curl -sf https://example.com || exit 1"
      interval: 1m
      timeout: 10s
      retries: 1
      start_period: 30s

  prowlarr:
    container_name: prowlarr
    image: linuxserver/prowlarr:2.3.0@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
    restart: unless-stopped
    networks:
      - media
    ports:
      - ${PROWLARR_WEB_PORT:-9696}:9696
    environment:
      ### COMMON
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - UMASK=${UMASK:-0002}
      - TZ=${TIMEZONE:-UTC}
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:prowlarr
      - TP_THEME=${TP_THEME:-nord}
    volumes:
      - ${MEDIA_DIRECTORY:?Missing variable MEDIA_DIRECTORY}/prowlarr/config:/config
    labels:
      - homepage.group=Servarr
      - homepage.name=Prowlarr
      - homepage.icon=prowlarr.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${PROWLARR_WEB_PORT:-9696}
      - homepage.description=Ultimate Indexer Manager
      - homepage.widget.type=prowlarr
      - homepage.widget.url=${HOST_URL:-http://localhost}:${PROWLARR_WEB_PORT:-9696}
      - homepage.widget.key=${PROWLARR_API_KEY}

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16@sha256:8b9f2138ec50fc9e521960868f79d2ad0d529bc610aef19031ea8ff80b54c5e0
    container_name: sonarr
    restart: unless-stopped
    networks:
      - media
    ports:
      - ${SONARR_WEB_PORT:-8989}:8989
    environment:
      ### COMMON
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - UMASK=${UMASK:-0002}
      - TZ=${TIMEZONE:-UTC}
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:sonarr
      - TP_THEME=${TP_THEME:-nord}
    volumes:
      - ${MEDIA_DIRECTORY:?Missing variable MEDIA_DIRECTORY}/sonarr/config/:/config
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/series:/tv
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/downloads:/downloads
    labels:
      - homepage.group=Servarr
      - homepage.name=Sonarr
      - homepage.icon=sonarr.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${SONARR_WEB_PORT:-8989}
      - homepage.description=Internet PVR for Usenet and Torrents
      - homepage.widget.type=sonarr
      - homepage.widget.url=${HOST_URL:-http://localhost}:${SONARR_WEB_PORT:-8989}
      - homepage.widget.key=${SONARR_API_KEY}
      - homepage.widget.enableQueue=true # optional, defaults to false

  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:6.0.4@sha256:6c0948b42c149e36bb3dbc0b64d36c77b2d3c9dccf1b424c4f72af1e57ba0c21
    restart: unless-stopped
    networks:
      - media
    ports:
      - ${RADARR_WEB_PORT:-7878}:7878
    environment:
      ### COMMON
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - UMASK=${UMASK:-0002}
      - TZ=${TIMEZONE:-UTC}
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:radarr
      - TP_THEME=${TP_THEME:-nord}
    volumes:
      - ${MEDIA_DIRECTORY:?Missing variable MEDIA_DIRECTORY}/radarr/config:/config
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/movies:/movies
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/downloads:/downloads
    labels:
      - homepage.group=Servarr
      - homepage.name=Radarr
      - homepage.icon=radarr.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${RADARR_WEB_PORT:-7878}
      - homepage.description=Movie collection manager for Usenet and BitTorrent
      - homepage.widget.type=radarr
      - homepage.widget.url=${HOST_URL:-http://localhost}:${RADARR_WEB_PORT:-7878}
      - homepage.widget.key=${RADARR_API_KEY}
      - homepage.widget.enableQueue=true # optional, defaults to false

  lidarr:
    image: lscr.io/linuxserver/lidarr:2.14.5@sha256:5e1235d00b5d1c1f60ca0d472e554a6611aef41aa7b5b6d88260214bf4809af0
    container_name: lidarr
    restart: unless-stopped
    networks:
      - media
    ports:
      - ${LIDARR_WEB_PORT:-8686}:8686
    environment:
      ### COMMON
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - UMASK=${UMASK:-0002}
      - TZ=${TIMEZONE:-UTC}
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:lidarr
      - TP_THEME=${TP_THEME:-nord}
    volumes:
      - ${MEDIA_DIRECTORY:?Missing variable MEDIA_DIRECTORY}/lidarr/config:/config
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/music:/music
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/downloads:/downloads
    labels:
      - homepage.group=Servarr
      - homepage.name=Lidarr
      - homepage.icon=lidarr.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${LIDARR_WEB_PORT:-8686}
      - homepage.description=Music collection manager for Usenet and BitTorrent
      - homepage.widget.type=lidarr
      - homepage.widget.url=${HOST_URL:-http://localhost}:${LIDARR_WEB_PORT:-8686}
      - homepage.widget.key=${LIDARR_API_KEY}

  bazarr:
    image: lscr.io/linuxserver/bazarr:1.5.5@sha256:f01f718d73be5b468da1ba03e6740c5584769df9d3fedef9f4a3c7eaf90c243f
    container_name: bazarr
    restart: unless-stopped
    networks:
      - media
    ports:
      - ${BAZARR_WEB_PORT:-6767}:6767
    environment:
      ### COMMON
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - UMASK=${UMASK:-0002}
      - TZ=${TIMEZONE:-UTC}
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:bazarr
      - TP_THEME=${TP_THEME:-nord}
    volumes:
      - ${MEDIA_DIRECTORY:?Missing variable MEDIA_DIRECTORY}/bazarr/config:/config
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/movies:/movies
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/series:/tv
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/downloads:/downloads
    labels:
      - homepage.group=Servarr
      - homepage.name=Bazarr
      - homepage.icon=bazarr.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${BAZARR_WEB_PORT:-6767}
      - homepage.description=Manages and downloads subtitles
      - homepage.widget.type=bazarr
      - homepage.widget.url=${HOST_URL:-http://localhost}:${BAZARR_WEB_PORT:-6767}
      - homepage.widget.key=${BAZARR_API_KEY}

  tunarr: 
    container_name: tunarr
    image: chrisbenincasa/tunarr:1.1.18@sha256:ad9635417a6876c710eaef449df0bb434a87982e9f7b9249b5329cdb7937bbf2
    restart: unless-stopped
    networks:
      - media
    ports:
      - ${TUNARR_WEB_PORT:-8000}:8000
    environment:
      - TZ=${TIMEZONE:-UTC}
    volumes:
      - ${MEDIA_DIRECTORY:?Missing variable MEDIA_DIRECTORY}/tunarr/config:/config
    labels:
      - homepage.instance.internal.group=Servarr
      - homepage.instance.internal.name=Tunarr
      - homepage.instance.internal.icon=tunarr.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${TUNARR_WEB_PORT:-8000}
      - homepage.instance.internal.description=classic TV experience using your own media

  # byparr:
  #   container_name: byparr
  #   image: ghcr.io/thephaseless/byparr:2.0.1
  #   restart: unless-stopped
  #   networks:
  #     - media
  #   ports:
  #     - ${BYPARR_WEB_PORT:-8191}:8191
  #   volumes:
  #     - ${MEDIA_DIRECTORY:?Missing variable MEDIA_DIRECTORY}/byparr/data:/app/screenshots
  #   labels:
  #     - homepage.instance.internal.group=Servarr
  #     - homepage.instance.internal.name=Byparr
  #     - homepage.instance.internal.icon=mdi-button-cursor
  #     - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${BYPARR_WEB_PORT:-8191}
  #     - homepage.instance.internal.description=FlareSolverr drop-in replacement with FastAPI and nodriver 
