services:
  minecraft-java:
    image: itzg/minecraft-server:2025.12.0-java21
    container_name: minecraft-java
    restart: unless-stopped
    ports:
      - ${TCP_PORT:-25565}:25565/tcp
    environment:
      - EULA=TRUE
      - VERSION=${MINECRAFT_VERSION:?Missing variable MINECRAFT_VERSION}
    # deploy:
    #  resources:
    #    limits:
    #      memory: 4.5G
    tty: true
    stdin_open: true
    volumes:
      - ${DIRECTORY:?Missing variable DIRECTORY}/minecraft-java:/data
    labels:
      - homepage.group=Games
      - homepage.name=Minecraft Java
      - homepage.icon=minecraft.png
      # - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${TCP_PORT:-25565}
      - homepage.description=Java Vanilla ${MINECRAFT_VERSION:?Missing variable MINECRAFT_VERSION}