services:
  octoprint:
    image: octoprint/octoprint:1.11.6@sha256:a31f097fc81865472bfebea73f8c51a934092f9d7169a0ac02bb00066f74cbe8
    container_name: octoprint
    restart: unless-stopped
    ports:
      - ${WEB_PORT:-80}:80
    # devices:
    # use `python -m serial.tools.miniterm` to see what the name is of the printer, this requires pyserial
    #  - /dev/ttyACM0:/dev/ttyACM0
    #  - /dev/video0:/dev/video0
    volumes:
     - ${DIRECTORY:?Missing variable DIRECTORY}/octoprint:/octoprint
    environment: 
      # LOCAL CAMERA STREAMING
      - ENABLE_MJPG_STREAMER=true
    devices:
     - /dev/ttyUSB0:/dev/ttyUSB0
     - /dev/video0:/dev/video0
    labels:
    - homepage.group=Utilities
    - homepage.name=Octoprint
    - homepage.icon=octoprint.png
    - homepage.instance.public.href=https://octoprint.${DOMAIN:?Missing variable DOMAIN}
    - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${WEB_PORT:-80}
    - homepage.description=The dockerized snappy web interface for your 3D printer!
    - homepage.instance.internal.widget.type=octoprint
    - homepage.instance.internal.widget.url=${HOST_URL:-http://localhost}:${WEB_PORT:-80}
    - homepage.instance.internal.widget.key=${OCTOPRINT_API_KEY}