services:
  owncloud:
    image: owncloud/server:10.16.0@sha256:62c93574d2bd0f98d17ac1a541f703653822e4572a628dcf993a8e65b2400e97
    container_name: owncloud
    restart: unless-stopped
    ports:
      - ${WEB_PORT:-8080}:8080
    depends_on:
      - mariadb
      - redis
    environment:
      - OWNCLOUD_DOMAIN=${HOST_URL:-http://localhost}
      - OWNCLOUD_TRUSTED_DOMAINS=${TRUSTED_DOMAINS}
      - OWNCLOUD_DB_TYPE=mysql
      - OWNCLOUD_DB_HOST=mariadb
      - OWNCLOUD_DB_NAME=${DB_NAME:?Missing variable DB_NAME} 
      - OWNCLOUD_DB_USERNAME=${DB_USER:?Missing variable DB_USER}
      - OWNCLOUD_DB_PASSWORD=${DB_PASS:?Missing variable DB_PASS}
      - OWNCLOUD_ADMIN_USERNAME=${ADMIN_USER:?Missing variable ADMIN_USER}
      - OWNCLOUD_ADMIN_PASSWORD=${ADMIN_PASS:?Missing variable ADMIN_PASS}
      - OWNCLOUD_MYSQL_UTF8MB4=true
      - OWNCLOUD_REDIS_ENABLED=true
      - OWNCLOUD_REDIS_HOST=redis
    volumes:
      - ${DIRECTORY:?Missing variable DIRECTORY}/owncloud/data:/mnt/data
    healthcheck:
      test: ["CMD", "/usr/bin/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
    labels:
      - traefik.enable=true
      - traefik.http.routers.owncloud.tls.certresolver=myresolver
      - traefik.http.services.owncloud.loadbalancer.server.port=8080
      - homepage.group=Media
      - homepage.name=OwnCloud
      - homepage.icon=owncloud.png
      - homepage.instance.public.href=https://owncloud.${DOMAIN:?Missing variable DOMAIN}
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${WEB_PORT:-8080}
      - homepage.description=Secure cloud solution for filesharing
  
  mariadb:
    image: mariadb:10.11@sha256:8763a63f00ec980d913c04bf84f7fd5f60aa11ac9033f36d1a77921c065a5988
    container_name: owncloud_mariadb
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASS:?Missing variable DB_ROOT_PASS}
      - MYSQL_USER=${DB_USER:?Missing variable DB_USER}
      - MYSQL_PASSWORD=${DB_PASS:?Missing variable DB_PASS}
      - MYSQL_DATABASE=${DB_NAME:?Missing variable DB_NAME}
    command: ["--max-allowed-packet=128M", "--innodb-log-file-size=64M"]
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-u", "${DB_USER:?Missing variable DB_USER}", "--password=${DB_PASS:?Missing variable DB_PASS}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ${DIRECTORY:?Missing variable DIRECTORY}/owncloud/mysql:/var/lib/mysql

  redis:
    image: redis:6@sha256:d338acf5e1c111dfdafc78fd2adf2d15a54d4f185611d5f7b6b75cf967f1c1b1
    container_name: owncloud_redis
    restart: unless-stopped
    command: ["--databases", "1"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ${DIRECTORY:?Missing variable DIRECTORY}/owncloud/redis:/data
