networks:
  monitoring:
    name: monitoring
    driver: bridge

services:

  # https://grafana.com/docs/grafana/latest/
  grafana:
    image: grafana/grafana-oss:12.3.2@sha256:ba93c9d192e58b23e064c7f501d453426ccf4a85065bf25b705ab1e98602bfb1
    container_name: grafana
    restart: unless-stopped
    user: 1000:1000
    ports:
      - ${GRAFANA_WEB_PORT:-3000}:3000
    environment:
      - GF_SERVER_ROOT_URL=https://grafana.${DOMAIN:?Missing variable DOMAIN}
    volumes:
      - ${GRAFANA_LOCATION:?Missing variable GRAFANA_LOCATION}/data:/var/lib/grafana
      - ${GRAFANA_LOCATION:?Missing variable GRAFANA_LOCATION}/provisioning/:/etc/grafana/provisioning
    networks:
      - monitoring
    labels:
      - traefik.enable=true
      - traefik.http.routers.grafana.tls.certresolver=myresolver
      - traefik.http.services.grafana.loadbalancer.server.port=3000
      - homepage.group=Monitoring
      - homepage.name=Grafana
      - homepage.icon=grafana.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${GRAFANA_WEB_PORT:-3000}
      - homepage.instance.public.href=https://grafana.${DOMAIN:?Missing variable DOMAIN}
      - homepage.description=Visualize your data, optimize your performance
      - homepage.instance.internal.widget.type=grafana
      - homepage.instance.internal.widget.url=${HOST_URL:-http://localhost}:${GRAFANA_WEB_PORT:-3000}
      - homepage.instance.internal.widget.username=${GRAFANA_USERNAME}
      - homepage.instance.internal.widget.password=${GRAFANA_PASSWORD}

  # https://prometheus.io/
  prometheus:
    image: prom/prometheus:v3.9.1@sha256:1f0f50f06acaceb0f5670d2c8a658a599affe7b0d8e78b898c1035653849a702
    container_name: prometheus
    restart: unless-stopped
    user: 1000:1000
    ports:
      - ${PROMETHEUS_WEB_PORT:-9090}:9090
    expose:
      - 9090
    volumes:
      - ${PROMETHEUS_LOCATION:?Missing variable PROMETHEUS_LOCATION}/config:/etc/prometheus
      - ${PROMETHEUS_LOCATION:?Missing variable PROMETHEUS_LOCATION}/data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=30d' # DEFAULT : 15d
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    networks:
      - monitoring
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      - homepage.instance.internal.group=Monitoring
      - homepage.instance.internal.name=Prometheus
      - homepage.instance.internal.icon=prometheus.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${PROMETHEUS_WEB_PORT:-9090}
      - homepage.instance.internal.description=From metrics to insight
      - homepage.instance.internal.widget.type=prometheus
      - homepage.instance.internal.widget.url=${HOST_URL:-http://localhost}:${PROMETHEUS_WEB_PORT:-9090}

  # https://grafana.com/docs/loki/latest/
  loki:
    image: grafana/loki:3.6.3@sha256:cd6e176883a90c21755f0315688668991634143423f75bdedfef41441b0fdc3c
    container_name: loki
    restart: unless-stopped
    user: 1000:1000
    ports:
      - ${LOKI_WEB_PORT:-3100}:3100
    volumes:
      - ${LOKI_LOCATION:?Missing variable LOKI_LOCATION}/config:/etc/config
      - ${LOKI_LOCATION:?Missing variable LOKI_LOCATION}/data:/loki
    expose:
      - 3100
    networks:
      - monitoring
    command: -config.file=/etc/config/loki.yml
  
  # https://grafana.com/docs/loki/latest/send-data/promtail/
  promtail:
    image: grafana/promtail:3.6.3@sha256:130b6dd63277d99ce87560c0266c0c30d07bc15ba0a8a590d42215465d4f5363
    container_name: promtail
    restart: unless-stopped
    ports:
      - ${PROMTAIL_WEB_PORT:-9080}:9080
    volumes:
      - ${PROMTAIL_LOCATION:?Missing variable PROMTAIL_LOCATION}/config:/etc/config
      - ${PROMTAIL_LOCATION:?Missing variable LOKI_LOCATION}/data:/promtail
      - ${LOGS_LOCATION:?Missing variable LOGS_LOCATION}:/var/log:ro
    expose:
      - 9080
    networks:
      - monitoring
    command: -config.file=/etc/config/promtail.yml

  # https://docs.influxdata.com/influxdb/v2/install/?t=Docker
  influxdb:
    image: influxdb:2.7.11@sha256:d92a10e9e75aff18eca38ff3a8f0b4a800706a5dd44d1b0ece264af04458525b
    container_name: influxdb
    restart: unless-stopped
    user: 1000:1000
    ports:
      - ${INFLUXDB_WEB_PORT:-8086}:8086
    expose:
      - 8086
    volumes:
      - ${INFLUXDB_LOCATION:?Missing variable INFLUXDB_LOCATION}/data:/var/lib/influxdb2
      - ${INFLUXDB_LOCATION:?Missing variable INFLUXDB_LOCATION}/config:/etc/influxdb2
    networks:
      - monitoring
    labels:
      - traefik.enable=true
      - traefik.http.routers.influxdb.tls.certresolver=myresolver
      - traefik.http.services.influxdb.loadbalancer.server.port=8086
      - homepage.instance.internal.group=Monitoring
      - homepage.instance.internal.name=InfluxDB
      - homepage.instance.internal.icon=influxdb.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${INFLUXDB_WEB_PORT:-8086}
      # - homepage.instance.public.href=https://influxdb.${DOMAIN:?Missing variable DOMAIN}
      - homepage.instance.internal.description=Real-time insights from any time series data with a single, purpose-built database

  pve-exporter:
    image: prompve/prometheus-pve-exporter:3.8.0@sha256:66e0c8558b23f06231ab55ab1afdef2d43ff24365bcf75d36adaef6d9f7497df
    container_name: pve-exporter
    restart: unless-stopped
    environment:
      - PVE_VERIFY_SSL=false
      - PVE_USER=${PVE_USER:?Missing variable PVE_USER}
      - PVE_PASSWORD=${PVE_PASSWORD:?Missing variable PVE_PASSWORD}
      # - PVE_TOKEN_NAME=${PVE_TOKEN_NAME:?Missing variable PVE_TOKEN_NAME}
      # - PVE_TOKEN_VALUE=${PVE_TOKEN_VALUE:?Missing variable PVE_TOKEN_VALUE}
    expose:
      - 9221
    networks:
      - monitoring