services:
  navidrome:
    image: deluan/navidrome:0.60.0@sha256:5d0f6ab343397c043c7063db14ae10e4e3980e54ae7388031cbce47e84af6657
    container_name: navidrome
    restart: unless-stopped
    ports:
      - "${WEB_PORT:-4533}:4533"
    environment: # https://www.navidrome.org/docs/usage/configuration-options/#available-options
      - ND_PROMETHEUS_ENABLED=true
      - ND_PROMETHEUS_METRICSPATH=/metrics
      - ND_ENABLEINSIGHTSCOLLECTOR=false
      # - ND_LASTFM_APIKEY=${LASTFM_APIKEY:-}
      # - ND_LASTFM_SECRET=${LASTFM_SECRET:-}
    volumes:
      - ${DIRECTORY:?Missing variable DIRECTORY}/navidrome/data:/data
      # - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/music:/music
      - truenas_nfs_music:/music
    labels:
      - traefik.enable=true
      - traefik.http.routers.navidrome.tls.certresolver=myresolver
      - traefik.http.services.navidrome.loadbalancer.server.port=4533
      - homepage.group=Media
      - homepage.name=Navidrome
      - homepage.icon=navidrome.png
      - homepage.instance.public.href=https://navidrome.${DOMAIN:?Missing variable DOMAIN}
      - homepage.instance.internal.href=${HOST_URL:-https://localhost}:${WEB_PORT:-4533}
      - homepage.description=Web-based music collection server and streamer
      - homepage.instance.internal.widget.type=navidrome
      - homepage.instance.internal.widget.url=${HOST_URL:-http://localhost}:${WEB_PORT:-4533}
      - homepage.instance.internal.widget.user=${NAVIDROME_API_USER}
      - homepage.instance.internal.widget.token=${NAVIDROME_API_TOKEN}
      - homepage.instance.internal.widget.salt=${NAVIDROME_API_SALT}

volumes:
  truenas_nfs_music:
    driver: local
    driver_opts:
      type: nfs
      o: addr=${VOLUME_ADDRESS:?Missing variable VOLUME_ADDRESS},ro
      device: ":${VOLUME_DEVICE:?Missing variable VOLUME_DEVICE}"
