services:
  traefik:
    image: traefik:v3.6.2
    container_name: traefik
    restart: unless-stopped
    network_mode: "host"
    command:
      - --global.sendanonymoususage=false
      - --log.level=DEBUG
      - --log.filePath=/logs/debug.log
      # - --api.insecure=true

      # Enable docker provider
      # - --providers.docker=true
      # Docker containers not exposed by default
      # - --providers.docker.exposedbydefault=false
      # Docker provider default rule
      # - --providers.docker.defaultRule=Host(`{{ index .Labels "com.docker.compose.service" }}.${DOMAIN:?Missing variable DOMAIN}`)

      # Enable file provider
      - --providers.file=true
      # File provider directory
      - --providers.file.directory=/etc/traefik/config
      # Enable watch for manual configuration
      - --providers.file.watch=true

      # Entrypoints
      - --entrypoints.https.address=:443
      - --entrypoints.http.address=:80
      # Redirect http to https
      - --entrypoints.http.http.redirections.entryPoint.to=https
      - --entrypoints.http.http.redirections.entryPoint.scheme=https
      # Geo-block middleware configuration
      ## Only geoblock requests to HTTPS (443) so that HTTP (80) can still be redirected to HTTPS
      - --entrypoints.https.http.middlewares=geoblock

      # Enable a dns challenge named "myresolver"
      - --certificatesresolvers.myresolver.acme.dnschallenge=true
      # DNS provider for the challenge
      - --certificatesresolvers.myresolver.acme.dnschallenge.provider=duckdns
      # Disable the propagation check that occurs before the certificate is issued by the acme provider
      - --certificatesresolvers.myresolver.acme.dnschallenge.disablePropagationCheck=true
      # Delay the check of the propagation of the DNS record before to check the DNS challenge (seconds)
      - --certificatesresolvers.myresolver.acme.dnschallenge.delayBeforeCheck=60
      
      # File or key used for certificates storage.
      - --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json
      # Email address used for registration.
      - --certificatesresolvers.myresolver.acme.email=${ACME_EMAIL:?Missing variable ACME_EMAIL}

      # Enable prometheus metrics
      - --metrics.prometheus=true
      # Expose prometheus metrics on port ${METRICS_PORT:-8081}
      - --entryPoints.metrics.address=:${METRICS_PORT:-8081}
      # Enable the prometheus metrics endpoint
      - --metrics.prometheus.entryPoint=metrics

      # Enable access logs
      - --accesslog=true
      # Access logs file
      - --accesslog.filepath=/logs/access.log
      # Access logs format
      - --accesslog.format=json
      # Access logs buffering size
      - --accesslog.bufferingsize=100

      # Plugins
      - --experimental.plugins.geoblock.moduleName=github.com/PascalMinder/geoblock
      - --experimental.plugins.geoblock.version=v0.3.3

    # ports:
    #   - 80:80
    #   - 443:443
    #   - ${WEB_PORT:-8080}:8080
    # networks:
    #   - monitoring
    # expose:
    #   - ${METRICS_PORT:-8081}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/letsencrypt:/letsencrypt
      - ${DIRECTORY}/traefik/logs:/logs
      - ${DIRECTORY}/traefik/config:/etc/traefik/config
    environment:
      - TZ=${TZ:-Etc/UTC}
      - DUCKDNS_TOKEN=${DUCKDNS_TOKEN:?Missing variable DUCKDNS_TOKEN}
    labels:
      - homepage.group=Network
      - homepage.name=Traefik
      - homepage.icon=traefik.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${WEB_PORT:-8080}
      - homepage.description=Cloud Native Application Proxy
      # - homepage.widget.type=traefik # requires "api.insecure=true"
      # - homepage.widget.url=${HOST_URL:-http://localhost}:${WEB_PORT:-8080}