services:
  gramps: &grampsweb
    image: ghcr.io/gramps-project/grampsweb:25.12.0
    restart: unless-stopped
    container_name: grampsweb
    ports:
      - "${WEB_PORT:-5000}:5000"
    environment:
      GRAMPSWEB_TREE: "${TREE_NAME:-Gramps Web}"  # will create a new tree if not exists
      GRAMPSWEB_CELERY_CONFIG__broker_url: "redis://grampsweb_redis:6379/0"
      GRAMPSWEB_CELERY_CONFIG__result_backend: "redis://grampsweb_redis:6379/0"
      GRAMPSWEB_RATELIMIT_STORAGE_URI: redis://grampsweb_redis:6379/1
    depends_on:
      - grampsweb_redis
    volumes:
      - ${DIRECTORY}/gramps/users:/app/users
      - ${DIRECTORY}/gramps/index:/app/indexdir
      - ${DIRECTORY}/gramps/thumbnail_cache:/app/thumbnail_cache
      - ${DIRECTORY}/gramps/cache:/app/cache
      - ${DIRECTORY}/gramps/secret:/app/secret
      - ${DIRECTORY}/gramps/data:/root/.gramps/grampsdb
      - ${DIRECTORY}/gramps/tmp:/tmp
      - ${DIRECTORY}/gramps/media:/app/media
    labels:
      - traefik.enable=true
      - traefik.http.routers.gramps.tls.certresolver=myresolver
      - traefik.http.services.gramps.loadbalancer.server.port=5000
      - homepage.group=Utilities
      - homepage.name=Gramps
      - homepage.icon=gramps.png
      - homepage.instance.public.href=https://gramps.${DOMAIN:?Missing variable DOMAIN}
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${WEB_PORT:-5000}
      - homepage.description=Collaborative genealogy

  grampsweb_celery:
    <<: *grampsweb  # YAML merge key copying the entire grampsweb service config
    ports: []
    labels: []
    container_name: grampsweb_celery
    depends_on:
      - grampsweb_redis
    command: celery -A gramps_webapi.celery worker --loglevel=INFO

  grampsweb_redis:
    image: redis:alpine
    container_name: grampsweb_redis
    restart: unless-stopped