services:
  metube:
    image: ghcr.io/alexta69/metube:2025-02-20@sha256:1f3ecf1e433c8e228448b05dec7d2fa03f1db7b181299aef74a5a9b1661319dc
    container_name: metube
    restart: unless-stopped
    environment:
      - UID=${UID:-1000}
      - GID=${GID:-1000}
      - UMASK=${UMASK:-0002}
    ports:
      - ${WEB_PORT:-8081}:8081
    volumes:
      - ${LIBRARY_DIRECTORY:?Missing variable LIBRARY_DIRECTORY}/videos:/downloads
    labels:
      - traefik.enable=true
      - traefik.http.routers.metube.tls.certresolver=myresolver
      - traefik.http.services.metube.loadbalancer.server.port=8081
      - homepage.group=Download
      - homepage.name=MeTube
      - homepage.icon=metube.png
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${WEB_PORT:-8081}
      - homepage.instance.public.href=https://metube.${DOMAIN:?Missing variable DOMAIN}
      - homepage.description=Self-hosted YouTube downloader (web UI for youtube-dl / yt-dlp) 
