services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:1.0.20210914@sha256:ee2db24277b43ec4e7529e93967dc3cea00a02bf81b749c680b2b102a6e4aa5b
    container_name: wireguard
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-UTC}
      - SERVERURL=${DOMAIN:?Missing variable DOMAIN}
      - SERVERPORT=51820
      - PEERS=${PEERS:-1}
      - PEERDNS=auto
      - INTERNAL_SUBNET=10.13.13.0
      - ALLOWEDIPS=0.0.0.0/0
      # - PERSISTENTKEEPALIVE_PEERS=
      - LOG_CONFS=true
    volumes:
      - ${DIRECTORY:?Missing variable DIRECTORY}/wireguard/config:/config
      - /lib/modules:/lib/modules
    ports:
      - ${PORT:-51820}:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    labels:
      - homepage.instance.internal.group=Network
      - homepage.instance.internal.name=Wireguard
      - homepage.instance.internal.icon=wireguard.png
      - homepage.instance.internal.description=Fast, Modern, Secure VPN Tunnel