services:
  tandoor:
    image: vabene1111/recipes:2.5.3@sha256:7ce6534c9ab0e471fd0f08add67e871b9173fb580c2f86294c3ead025603a3d7
    container_name: tandoor_web
    restart: unless-stopped
    environment:
      - DEBUG=${DEBUG:-0}
      - GUNICORN_MEDIA=${GUNICORN_MEDIA:-0}
      - SECRET_KEY=${SECRET_KEY:?Missing variable SECRET_KEY}
      - DB_ENGINE=${DB_ENGINE:?Missing variable DB_ENGINE}
      - POSTGRES_HOST=${POSTGRES_HOST:?Missing variable POSTGRES_HOST}
      - POSTGRES_DB=${POSTGRES_DB:?Missing variable POSTGRES_DB}
      - POSTGRES_PORT=${POSTGRES_PORT:?Missing variable POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER:?Missing variable POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?Missing variable POSTGRES_PASSWORD}
    volumes:
      - ${DIRECTORY:?Missing variable DIRECTORY}/tandoor/static:/opt/recipes/staticfiles
      - ${DIRECTORY:?Missing variable DIRECTORY}/tandoor/media:/opt/recipes/mediafiles
    depends_on:
      - db_recipes
    ports:
      - ${WEB_PORT:-80}:80
    labels: 
      - traefik.enable=true
      - traefik.http.routers.tandoor.tls.certresolver=myresolver
      - traefik.http.services.tandoor.loadbalancer.server.port=8080
      - homepage.group=Utilities
      - homepage.name=Tandoor
      - homepage.instance.public.href=https://tandoor.${DOMAIN:?Missing variable DOMAIN}
      - homepage.instance.internal.href=${HOST_URL:-http://localhost}:${WEB_PORT:-80}
      - homepage.icon=tandoor-recipes.png
      - homepage.description=Managing recipes, planning meals, building shopping lists.

  db_recipes:
    image: postgres:15-alpine@sha256:b3968e348b48f1198cc6de6611d055dbad91cd561b7990c406c3fc28d7095b21
    container_name: tandoor_db
    restart: unless-stopped
    volumes:
      - ${DIRECTORY:?Missing variable DIRECTORY}/tandoor/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB:?Missing variable POSTGRES_DB}
      - POSTGRES_PORT=${POSTGRES_PORT:?Missing variable POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER:?Missing variable POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?Missing variable POSTGRES_PASSWORD}
